body {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	margin: 0 auto;
	text-align: center;
}

header {
	background-color: #007765;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	z-index: 999;
	height: 84px;
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
	.logo {
		height: 45px;
		position: relative;
		padding: 20px 0;
		margin: 0;
	}

	nav {
		flex-shrink: 3;
		display: flex;
		color: #fff;
		a {
			margin: 0 auto;
			padding: 5px;
			text-decoration: none;
			font-size: 24px;
			font-weight: 500;
			line-height: 28px;
			color: #fff;
		}
	}
}

main {
	width: 100%;
}

h1 {
	color: #007765;
	font-size: 70px;
	font-weight: 500;
	padding-top: 45px;
	padding-bottom: 15px;
	margin: 0;
}

p {
	text-align: left;
	padding-bottom: 90px;
}

.pipernet {
	background-image: url('https://ex-oblivione.github.io/pipernet_is_here/images/background-1.png');
	background-size: cover;
  	background-position: center center;
	margin: 0;
	padding: 180px 130px 160px;
	h1 {
		color: #fff;
	}
}

.problem {
	background-color: #eee;
	margin: 0;
	padding: 0 20px;
	p {
		margin: 0 auto;
		padding: 0 450px 90px;
	}
}

.hero {
	padding-top: 128px;
	padding-bottom: 128px;
  	background-image: url('https://i.ibb.co/PM6cMBn/image.png');
  	background-size: cover;
 	background-position: center center;
	.container {
		box-sizing: border-box;
  		max-width: 1219px;
  		margin-left: auto;
 	 	margin-right: auto;
  		padding-left: 55px;
  		padding-right: 55px;
		div {
			font-family: 'Roboto', sans-serif;
			 font-style: italic;
			 font-weight: 500;
			 font-size: 48px;
			 line-height: 56px;
			 text-align: center;
			color: #fff;
		}
	 }
}

.coin {
	background-color: #fff;
	margin: 0;
	padding: 50px 20px;
	
	.wrap {
		margin: 0 auto;
		padding: 15px 450px 40px;
		display: grid;
		grid-template-columns: 115px 930px;
		grid-column-gap: 50px;
		grid-row-gap: 35px;
		grid-template-rows: 115px 225px;
		align-content: center;
			
		img {
			width: 115px;
		}
		p {
			margin: 0;
		}
		:last-child {
			grid-column: 1 / span 2;
		}
	}
}

.team {
	background-color: #eee;
	margin: 0;
	padding: 160px auto;
	width: 100%;
}

.member {
	text-align: center;
	padding: 24px;
	box-sizing: border-box;
	margin-bottom: 30px;
	max-width: 350px;
}
  
.member-name {
	margin: 0;
	margin-top: 12px;
	font-weight: 600;
	font-size: 24px;
	color: #007765;
}
  
.member-role {
	font-style: italic;
	font-size: 18px;
}
  
.members {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

footer {
	background-color: #333;
	padding: 30px;
	width: 100%;
	color: #eee;
	font-size: 18px;
	address {
		width: 500px;
		margin: 0 auto;
		text-align: center;
		font-style: normal;
	}
}